@model DynamicBundles.TestWeb.Person

<p>
    First Name:
    @Html.EditorFor(m=>m.FirstName)
</p>
<p>
    Last Name:
    @Html.EditorFor(m=>m.LastName)
</p>
<p>
    Address:
    @Html.EditorFor(m=>m.HomeAddress)
</p>





