@model DynamicBundles.TestWeb.HomeAddress

<p class="street-number">
    @Html.TextAreaFor(m => m.Street, new { @class = "street"}) - @Html.TextBoxFor(m=>m.HouseNumber)
</p>
<p class="city">
    @Html.TextBoxFor(m=>m.City)
</p>








